    /* ============================================================================================== 
    Nick Mkrtchyan
    https://www.facebook.com/sonick.pk
    http://www.Mkrtchyan.zz.mu
    ================================================================================================= */
    *
    {
        margin: 0;
        padding: 0;
    }


@media only screen and (orientation:landscape){

  #container {

     -webkit-transform: rotate(0deg);

     -moz-transform: rotate(0deg);

     -o-transform: rotate(0deg);

     -ms-transform: rotate(0deg);

     transform: rotate(0deg);

  }


    body
    {
        background: -moz-linear-gradient(top, #4da6ff 0%, #c9dbe9 100%);
        background: linear-gradient(top, #4da6ff 0%, #c9dbe9 100%);
        background: -webkit-linear-gradient(top, #4da6ff 0%, #c9dbe9 100%);
    }

    #clouds
    {
        margin-top: 2%;
    }

    #sun
    {
        position:absolute;
        top:-5%;
        left:-5%;
        width:15%;
        height: 30%;
        border-radius:50%;

        background: #ff0;
        background: -moz-radial-gradient(center, ellipse cover, #f90 0%, #fc0 50%, #ff0 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f90), color-stop(50%,#fc0), color-stop(100%,#ff0));
        background: -webkit-radial-gradient(center, ellipse cover, #f90 0%,#fc0 50%,#ff0 100%);
        background: -o-radial-gradient(center, ellipse cover, #f90 0%,#fc0 50%,#ff0 100%);
        background: -ms-radial-gradient(center, ellipse cover, #f90 0%,#fc0 50%,#ff0 100%);
        background: radial-gradient(ellipse at center, #f90 0%,#fc0 50%,#ff0 100%);
        box-shadow: 0 0 100px #ff0, 0 0 100px #ff0;
        z-index:5;
    }

    
    #img1,#img3,#img4,#img6,#img7,#img9,
    #img10,#img12,#img13,#img15,#img16,
    #img18,#img19,#img21,#img22,#img24,#img25,#img27
    {
        height:13%;
        width: 10%;
    }

    #img2,#img5,#img8,#img11,#img14,#img17,
    #img20,#img23,#img26
    {
        height:15%;
        width: 15%;
    }

    #img1
    {
        margin-left: 10%;
        margin-top: 4%;
        margin-right: -8%;
    }
    #img3
    {
        margin-left: -10%;
    }


    #img4
    {
        margin-left: 1%;
        margin-right: -8%;
        position: absolute;
        margin-top: 30%;
    }
    #img5
    {
        position: absolute;
        margin-top: 29%;
        margin-left: 3%;
    }
    #img6
    {
        margin-left: 8%;
        position: absolute;
        margin-top: 30%;
    }


    #img7
    {
        margin-top: 20%;
        position: absolute;
        margin-left: 29%;
        margin-right: -8%;
    }

    #img8
    {
        margin-top: 19%;
        position: absolute;
        margin-left: 24%;
    }
    #img9
    {
         margin-top: 20%;
        position: absolute;
        margin-left: 22%;
    }


    #img10
    {
        margin-top: 6%;
        margin-left: 35%;
        position: absolute;
        margin-right: -8%;
    }
    #img11
    {
        margin-top: 5%;
        position: absolute;
        margin-left: 37%;
    }
    #img12
    {
        margin-left: 42%;
        margin-top: 6%;
        position: absolute;
    }


    #img13
    {
        margin-top: 20%;
        position: absolute;
        margin-left: 56%;
    }
    #img14
    {
        margin-top: 19%;
        margin-left: 58%;
        position: absolute;
    }
    #img15
    {
        margin-top: 20%;
        position: absolute;
        margin-left: 63%;
    }


    #img16
    {
        margin-top: 33%;
        position: absolute;
        margin-right: -8%;
        margin-left: 38%;
    }
    #img17
    {
        margin-top: 32%;
        position: absolute;
        margin-left: 40%;
    }

    #img18
    {
        margin-top: 33%;
        position: absolute;
        margin-left: 45%;
    }


    #img19
    {
        margin-top: 40%;
        position: absolute;
        margin-right: -8%;
        margin-left: 58%;
    }
    #img20
    {
        margin-top: 39%;
        position: absolute;
        margin-left: 60%;
    }
    #img21
    {
        margin-top: 40%;
        position: absolute;
        margin-left: 65%;
    }


    #img22
    {
        margin-top: 9%;
        position: absolute;
        margin-right: -8%;
        margin-left: 65%;
    }
    #img23
    {
        margin-top: 8%;
        position: absolute;
        margin-left: 67%;
    }
    #img24
    {
        margin-top: 9%;
        position: absolute;
        margin-left: 72%;
    }


    #img25
    {
        margin-top: 29%;
        position: absolute;
        margin-right: -8%;
        margin-left: 72%;
    }
    #img26
    {
        margin-top: 28%;
        position: absolute;
        margin-left: 74%;
    }
    #img27
    {
        margin-top: 29%;
        position: absolute;
        margin-left: 79%;
    }

    img{
        position: relative;
        animation-name: moveclouds;

        animation-duration: 15s;
        -webkit-animation-duration: 15s;
        -moz-animation-duration: 15s;
        -o-animation-duration: 15s;

        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

    }

    @keyframes moveclouds{
        0%   {left:0px; top:0px;}
        50%  {left:2%; top:0px;}
        100% {left:0px; top:0px;}
    }


    @-webkit-keyframes moveclouds{
        0%   {left:0px; top:0px;}
        50%  {left:2%; top:0px;}
        100% {left:0px; top:0px;}
    }

    @-moz-keyframes moveclouds{
        0%   {left:0px; top:0px;}
        50%  {left:2%; top:0px;}
        100% {left:0px; top:0px;}
    }

    @-o-keyframes moveclouds{
        0%   {left:0px; top:0px;}
        50%  {left:2%; top:0px;}
        100% {left:0px; top:0px;}
    }
